@import "tailwindcss";

@variant dark (&:is(.dark *));
@tailwind utilities;
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --font-poppins: "Poppins", ui-sans-serif, system-ui, sans-serif;
    --font-hind: "Hind Siliguri", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");

@layer base {
    body {
        font-family: "Poppins", "Hind Siliguri", sans-serif;
    }
}

@layer utilities {
    @keyframes marquee {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    .animate-marquee {
        animation: marquee 27s linear infinite;
    }

    .animate-maqui {
        animation: marquee 30s linear infinite;
    }
}
